<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-th-text="${readOnly} ? #{admin.profile.view_title} : #{admin.profile.title}">管理员信息 管理</title>
    <link rel="stylesheet" href="../../webjars/bootstrap/dist/css/bootstrap.min.css"
          data-th-href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css"
          data-th-href="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css}">
    <link rel="stylesheet" href="../../static/css/bg.css" data-th-href="@{/static/css/bg.css}">
    <style type="text/css">
        .input-group-addon {
            color: rgb(100, 114, 116);
        }

        .form-control:focus {
            color: black;
        }

        #submit {
            background: rgba(0, 0, 0, .12);
        }

        #submit:hover {
            background: rgba(0, 0, 128, .22);
        }

        .alert-dismissible .close {
            position: relative;
            right: -1.25rem;
            padding: .75rem 1.25rem;
            color: inherit;
        }

        .alert strong {
            margin-right: 1rem;
        }
    </style>
</head>

<body>
<div id="bg"></div>
<nav class="navbar navbar-toggleable-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../static/image/favicon.svg"
                     data-th-src="@{/static/image/favicon.svg}"
                     width="30" height="30" class="d-inline-block align-top">项目管理系统
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid pt-md-3">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="list-group pt-md-0">
                <a href="#" class="list-group-item active">
                    我的菜单
                </a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">基本信息</a>
                <a href="profile.html" data-th-href="@{'/admin/' + ${adminId}}" class="list-group-item">个人信息</a>
                <a href="password.html" data-th-href="@{'/admin/' + ${adminId} + '/password'}" class="list-group-item">密码修改</a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">项目报告任务</a>
                <a href="taskCreate.html" data-th-href="@{/task/create}" class="list-group-item">新建任务</a>
                <a href="taskHistory.html" data-th-href="@{/task/history}" class="list-group-item">历史任务</a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">导师评审链接</a>
                <a href="tokenCurrent.html" data-th-href="@{/token/current}" class="list-group-item">新建链接</a>
                <a href="tokenHistory.html" data-th-href="@{/token/history}" class="list-group-item">历史链接</a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">团队项目报告</a>
                <a href="results.html" data-th-href="@{/result/current}" class="list-group-item">查看与评审</a>
                <a href="reportHistory.html" data-th-href="@{/result/history}" class="list-group-item">历史项目报告</a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">用户管理</a>
                <a href="tutorAdmin.html" data-th-href="@{/admin/tutor}" class="list-group-item">导师管理</a>
                <a href="teamAdmin.html" data-th-href="@{/admin/team}" class="list-group-item">团队管理</a>
            </div>
        </div>
        <div class="col-md-7 pl-md-0">
            <h1 data-th-text="${readOnly} ? #{admin.profile.view_title} : #{admin.profile.title}"
                style="text-align: center;">
                管理员信息管理
            </h1>
            <form id="profileForm" class="form-horizontal" data-th-action="${formAction}" method="POST">
                <input type="hidden" name="_method" value="PUT"/><!--@see {@link HiddenHttpMethodFilter}-->
                <div class="form-group row mt-2">
                    <div class="input-group col-md-5">
                        <label for="username" class="input-group-addon" data-th-text="#{username}">用户名</label>
                        <input class="form-control" id="username" name="username" required
                               data-th-value="${admin.username}"/>
                    </div>
                    <div class="input-group col-md-6 pl-md-0 offset-md-1 mt-3 mt-md-0">
                        <label for="email" class="input-group-addon" data-th-text="#{email}">电子邮件</label>
                        <input type="email" class="form-control" id="email" name="email"
                               data-th-value="${admin.email}"/>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="input-group col-md-5">
                        <label for="displayName" class="input-group-addon" data-th-text="#{display_name}">姓名</label>
                        <input class="form-control" id="displayName" name="displayName" required
                               data-th-value="${admin.displayName}"/>
                    </div>
                    <div class="input-group col-md-6 pl-md-0 offset-md-1 mt-3 mt-md-0">
                        <label for="phone" class="input-group-addon" data-th-text="#{phone}">手机号码</label>
                        <input type="tel" class="form-control" id="phone" name="phone" data-th-value="${admin.phone}"/>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" data-th-text="#{submit}"
                            id="submit">提交
                    </button>
                </div>
            </form>
        </div>
    </div>

    <footer class="row clearfix" data-th-replace="~{footer::normal}">
        <div class="col-md-10 offset-md-1 column">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.about}">关于我们</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.feedback}">意见反馈</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.help}">帮助中心</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.us}">联系我们</a>
                </li>
                <li class="breadcrumb-item active">
                    All rights reserved
                </li>
            </ul>
        </div>
    </footer>
</div>
<script src="../../webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script src="../../webjars/tether/dist/js/tether.min.js"
        data-th-src="@{/webjars/tether/dist/js/tether.min.js}"></script>
<script src="../../webjars/bootstrap/dist/js/bootstrap.min.js"
        data-th-src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script data-th-if="${readOnly}">
    $("input").attr("readonly", true);
    $("#submit").hide();
</script>
<!--suppress JSUnfilteredForInLoop, XmlDefaultAttributeValue, JSUnresolvedVariable -->
<script>
    //https://stackoverflow.com/questions/5221633/select-submit-only-changed-form-fields-with-jquery
    function hashDiff(h1, h2) {
        var d = {};
        for (var k in h2) {
            if (h1[k] !== h2[k]) d[k] = h2[k];
        }
        return d;
    }

    function convertSerializedArrayToHash(a) {
        var r = {};
        for (var i = 0; i < a.length; i++) {
            r[a[i].name] = a[i].value;
        }
        return r;
    }

    $(function () {
        var $form = $('#profileForm');
        var startItems = convertSerializedArrayToHash($form.serializeArray());
        $form.on("submit", function () {
            var currentItems = convertSerializedArrayToHash($form.serializeArray());
            var itemsToSubmit = hashDiff(startItems, currentItems);
            $.ajax({
                method: "PUT",
                url: $form.attr('action'),
                data: itemsToSubmit,
                dataType: "json",
                success: function (data) {
                    $form.prepend('<div class="row"><div class="alert alert-success alert-dismissible fade show col-12" role="alert"><button type="button" class="close m-0 p-0" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + data.status + '</strong>' + data.message + '</div></div>');
                },
                error: function (jqXHR) {
                    $form.prepend('<div class="row"><div class="alert alert-warning alert-dismissible fade show col-12" role="alert"><button type="button" class="close m-0 p-0" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + jqXHR.responseJSON.error + '</strong>' + jqXHR.responseJSON.message + '</div></div>');
                }
            });
            return false;
        });
    });
</script>
</body>
</html>