<!DOCTYPE html>
<html data-th-lang="${#locale.language}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>综合评审</title>
    <link rel="stylesheet" href="../../webjars/bootstrap/dist/css/bootstrap.min.css"
          data-th-href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css"
          data-th-href="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css}">
    <link rel="stylesheet" href="../../static/css/bg.css" data-th-href="@{/static/css/bg.css}">
    <style type="text/css">
        #main-table {
            display: table;
        }

        @media screen and (max-width: 768px) {
            #main-table {
                display: inline-block;
            }
        }

        .table thead th, .table tbody tr td {
            min-width: 4rem;
        }
    </style>
</head>

<body>
<div id="bg"></div>
<nav class="navbar navbar-toggleable-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../static/image/favicon.svg"
                     data-th-src="@{/static/image/favicon.svg}"
                     width="30" height="30" class="d-inline-block align-top">项目管理系统
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid pt-md-3">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="list-group pt-md-0">
                <a href="#" class="list-group-item active">
                    我的菜单
                </a>
                <a href="#" class="list-group-item">项目报告管理</a>
                <a href="#" class="list-group-item">项目评审</a>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#collapseExample">评审生成</a>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#collapseExample">评审查看</a>
                <a href="#" class="list-group-item">用户管理</a>
            </div>
        </div>
        <div class="col-md-7 pl-md-0">
            <h2 style="text-align: center" data-th-text="${readOnly} ? #{team.teameport.view_title} : #{team.teameport.title}">
                2017年度期末报告
            </h2>
            <div class="form-group row mt-2">
                <span>团队名称：</span>
                <span data-th-text="#{username}">xxx</span>
                <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子邮件：</span>
                <span data-th-text="#{email}">xxx</span>
            </div>
            <div class="form-group row mt-3">
                <span>团队负责人：</span>
                <span data-th-text="#{display_name}">xxx</span>
                <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机号码：</span>
                <span data-th-text="#{phone}">xxx</span>
            </div>
            <div class="form-group row mt-3">
                <span>项目名称：</span>
                <span data-th-text="#{project_name}">xxx</span>
            </div>
            <span>项目综述：<br></span>

            <textarea rows="8" cols="10" placeholder="项目综述" data-th-text="#{ReportContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>

            <span>项目进展情况及已取得的成果：<br></span>

            <textarea rows="8" cols="10" placeholder="项目进展情况及已取得的成果" data-th-text="#{ReportContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>

            <span>下一阶段计划及时间表：<br></span>

            <textarea rows="8" cols="10" placeholder="下一阶段计划及时间表" data-th-text="#{ReportContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>
            <div class="span4">
            </div>
            <span>创客导师评审<br></span>

            <div class="row pre-scrollable">
                <div class="span3">
                    <span>导师:</span>
                    <span data-th-text="#{TutorDisplayName}">xxx</span>
                </div>
                <div class="span3">
                    <span><br>评审排名：</span>
                    <span data-th-text="#{ReviewRank}">3</span>
                </div>
                <textarea rows="8" cols="10" placeholder="评审意见"data-th-text="#{ReviewContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>
                <div class="span3">
                    <span>导师:</span>
                    <span data-th-text="#{TutorDisplayName}">xxx</span>
                </div>
                <div class="span3">
                    <span><br>评审排名：</span>
                    <span data-th-text="#{ReviewRank}">1</span>
                </div>
                <textarea rows="8" cols="10" placeholder="评审意见"data-th-text="#{ReviewContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>
                <div class="span3">
                    <span>导师:</span>
                    <span data-th-text="#{TutorDisplayName}">xxx</span>
                </div>

                <div class="span3">
                    <span><br>评审排名：</span>
                    <span data-th-text="#{ReviewRank}">2</span>
                </div>
                <textarea rows="8" cols="10" placeholder="评审意见"data-th-text="#{ReviewContent}" style="width:100%;/*自动适应父布局宽度*/  overflow:auto;  word-break:break-all;"></textarea>


            </div>
            <div class="row">
                <div class="col-md-7 offset-md-5">
                    <nav>
                        <button type="button" class="btn btn-success btn-mini" type="button" data-th-text="#{submit}">提交</button>

                        <button type="button" class="btn btn-default btn-mini">取消</button>
                    </nav>
                </div>
            </div>
        </div>

    </div>


    <footer class="row clearfix">
        <div class="col-md-10 offset-md-1 column">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.about}">关于我们</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.feedback}">意见反馈</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.help}">帮助中心</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.us}">联系我们</a>
                </li>
                <li class="breadcrumb-item active">
                    All rights reserved
                </li>
            </ul>
        </div>
    </footer>
</div>
    <script src="../../webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script src="../../webjars/tether/dist/js/tether.min.js"
            data-th-src="@{/webjars/tether/dist/js/tether.min.js}"></script>
    <script src="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js"
            data-th-src="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js}"></script>
    <script>
        $('body').bootstrapMaterialDesign();
    </script>
</body>
</html>