<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目管理系统</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css"
          data-th-href="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css}">
    <link rel="stylesheet" href="../../static/css/bg.css" data-th-href="@{/static/css/bg.css}">

    <style type="text/css">
        #main-table {
            display: table;
        }

        @media screen and (max-width: 768px) {
            #main-table {
                display: inline-block;
            }
        }

        .table thead th, .table tbody tr td {
            min-width: 4rem;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#profile").load('profile.html');
            $("#menu1").load('index2.html');
        });
    </script>

</head>
<body>

<div id="bg" style="opacity: 50"></div>
<nav class="navbar navbar-toggleable-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../static/image/favicon.svg"
                     data-th-src="@{/static/image/favicon.svg}"
                     width="30" height="30" class="d-inline-block align-top">项目管理系统
            </a>
        </div>
    </div>
</nav>



<div class="container">

    <div class="col-md-3">
        <ul class="nav nav-stacked nav-tabs av-justified">

            <li><a class="nav-header" data-toggle="tab" href="#profile" style="background-color: rgba(206,236,207,0.51)">基本信息</a></li>

            <li><a class="nav-header" data-toggle="collapse" href="#dashboard-menu" style="background-color: rgba(206,236,207,0.51)">项目报告任务</a></li>
            <ul id="dashboard-menu" class="nav nav-list collapse">
                <li><a href="#menu1" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">任务管理</a></li>
                <li><a href="#menu2" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">历史记录</a></li>
            </ul>

            <li><a class="nav-header" data-toggle="collapse" href="#dashboard-menu1" style="background-color: rgba(206,236,207,0.51)">项目报告评审</a></li>
            <ul id="dashboard-menu1" class="nav nav-list collapse">
                <li><a href="#menu1" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">评审管理</a></li>
                <li><a href="#menu2" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">综合评审</a></li>
            </ul>

            <li><a class="nav-header" data-toggle="collapse" href="#dashboard-menu3" style="background-color: rgba(206,236,207,0.51)">用户管理</a></li>
            <ul id="dashboard-menu3" class="nav nav-list collapse">
                <li><a href="#menu1" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">团队管理</a></li>
                <li><a href="#menu2" data-toggle="tab" style="text-align: right;background-color: rgba(206,236,207,0.25)">导师管理</a></li>
            </ul>

        </ul>
    </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div id="profile" class="tab-pane fade in active">
                <h3>首页</h3>
                <p>菜鸟教程 —— 学的不仅是技术，更是梦想！！！</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>菜单 1</h3>
                <p>这是菜单 1 显示的内容。这是菜单 1 显示的内容。这是菜单 1 显示的内容。</p>
                <iframe frameborder=0 width=170 height=100 marginheight=0 marginwidth=0 scrolling=no src="index2.html"></iframe>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>菜单 2</h3>
                <p>这是菜单 2 显示的内容。这是菜单 2 显示的内容。这是菜单 2 显示的内容。</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>菜单 3</h3>
                <p>这是菜单 3 显示的内容。这是菜单 3 显示的内容。这是菜单 3 显示的内容。</p>
            </div>
        </div>
    </div>





</div>




</body>
</html>