<!DOCTYPE html>
<html data-th-lang="${#locale.language}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>导师项目评审</title>
    <link rel="stylesheet" href="../../webjars/bootstrap/dist/css/bootstrap.min.css"
          data-th-href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css"
          data-th-href="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css}">
    <link rel="stylesheet" href="../../static/css/bg.css" data-th-href="@{/static/css/bg.css}">
    <style type="text/css">
        #main-table {
            display: table;
        }

        @media screen and (max-width: 768px) {
            #main-table {
                display: inline-block;
            }
        }

        .table thead th, .table tbody tr td {
            min-width: 4rem;
        }
    </style>
</head>

<body>
<div id="bg"></div>
<nav class="navbar navbar-toggleable-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../static/image/favicon.svg"
                     data-th-src="@{/static/image/favicon.svg}"
                     width="30" height="30" class="d-inline-block align-top">项目管理系统
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid pt-md-3">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="list-group pt-md-0">
                <a href="#" class="list-group-item active">
                    我的菜单
                </a>
                <a href="#" class="list-group-item">基本信息</a>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#collapseExample">项目报告评审</a>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#collapseExample">项目评审</a>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#collapseExample">历史评审</a>
            </div>
        </div>
        <div class="col-md-7 pl-md-0">
            <h2>项目报告评审</h2>
            <table class="table table-responsive table-striped table-hover" id="main-table">
                <thead>
                <tr>
                    <th>项目报告名称</th>
                    <th>阶段名称</th>
                    <th>截止时间</th>
                    <th>是否提交</th>
                    <th>评审排名</th>
                    <th>评审详情</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="review:${reviews}">
                    <td data-th-text="${review.report.title}">2017年度期末报告</td>
                    <td data-th-text="${review.report.stage.title}">2017年度期末</td>
                    <td data-th-text="${#dates.format(review.report.stage.end, 'yyyy-MM-dd')}">2017-07-20 00:00</td>
                    <td data-th-text="${review.submitted} ? #{yes} : #{no}">是</td>
                    <td data-th-text="${review.rank} == -1 ? #{review.not_ranked} : ${review.rank}">1</td>
                    <td><a href="review.html" data-th-href="'/review/' + ${review.id}">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="row clearfix" data-th-replace="~{footer::normal}">
        <div class="col-md-10 offset-md-1 column">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.about}">关于我们</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.feedback}">意见反馈</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.help}">帮助中心</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.us}">联系我们</a>
                </li>
                <li class="breadcrumb-item active">
                    All rights reserved
                </li>
            </ul>
        </div>
    </footer>
</div>
<script src="../../webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script src="../../webjars/tether/dist/js/tether.min.js"
        data-th-src="@{/webjars/tether/dist/js/tether.min.js}"></script>
<script src="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js"
        data-th-src="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js}"></script>
<!--suppress JSUnresolvedFunction -->
<script>
    $('body').bootstrapMaterialDesign();
</script>
</body>
</html>