<!DOCTYPE html>
<html data-th-lang="${#locale.language}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>团队项目报告</title>
    <link rel="stylesheet" href="../../webjars/bootstrap/dist/css/bootstrap.min.css"
          data-th-href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css"
          data-th-href="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.min.css}">
    <link rel="stylesheet" href="../../static/css/bg.css" data-th-href="@{/static/css/bg.css}">
    <style type="text/css">
        #main-table {
            display: table;
        }

        @media screen and (max-width: 768px) {
            #main-table {
                display: inline-block;
            }
        }

        .table thead th, .table tbody tr td {
            min-width: 4rem;
        }
    </style>
</head>

<body>
<div id="bg"></div>
<nav class="navbar navbar-toggleable-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../static/image/favicon.svg"
                     data-th-src="@{/static/image/favicon.svg}"
                     width="30" height="30" class="d-inline-block align-top">项目管理系统
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid pt-md-3">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="list-group pt-md-0">
                <a href="#" class="list-group-item active">
                    我的菜单
                </a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">基本信息</a>
                <a href="#" class="list-group-item">个人信息</a>
                <a href="#" class="list-group-item">密码修改</a>
                <a href="#" class="list-group-item" style="background-color: rgba(200,230,201,0.41)">项目报告</a>
                <a href="#" class="list-group-item">提交与查看</a>
            </div>
        </div>
        <div class="col-md-7 pl-md-0">
            <h2 style="text-align: center">项目报告</h2>
            <table class="table table-responsive table-striped table-hover" id="main-table">
                <thead>
                <tr>
                    <th>项目报告名称</th>
                    <th>阶段名称</th>
                    <th>截止时间</th>
                    <th>是否提交</th>
                    <th>考核结果</th>
                    <th>考核详情</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="result:${results}">
                    <td><a href="report.html" data-th-href="'/report/' + ${result.report.id}"
                           data-th-text="${result.report.title}">2017年度期末报告</a></td>
                    <td data-th-text="${result.report.stage.title}">2017年度期末</td>
                    <td data-th-text="${#dates.format(result.report.stage.end, 'yyyy-MM-dd')}">2017-07-20 00:00</td>
                    <td data-th-text="${result.report.submitted} ? #{yes} : #{no}">是</td>
                    <td data-th-text="${result.brief}">优秀</td>
                    <td><a href="../admin/result.html" data-th-href="'/result/' + ${result.id}">查看结果</a></td>
                </tr>
                </tbody>
            </table>
            <!-- 暂时没做分页效果
            <div class="row">
                <div class="col-md-7 offset-md-5">
                    <nav>
                        <ul class="pagination pagination-centered">
                            <li class="page-item"><a href="#">上一页</a></li>
                            <li class="page-item"><a href="#">1</a></li>
                            <li class="page-item"><a href="#">2</a></li>
                            <li class="page-item"><a href="#">3</a></li>
                            <li class="page-item"><a href="#">4</a></li>
                            <li class="page-item"><a href="#">5</a></li>
                            <li class="page-item"><a href="#">下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            -->
        </div>
    </div>

    <footer class="row clearfix" data-th-replace="~{footer::normal}">
        <div class="col-md-10 offset-md-1 column">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.about}">关于我们</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.feedback}">意见反馈</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.help}">帮助中心</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-th-text="#{footer.us}">联系我们</a>
                </li>
                <li class="breadcrumb-item active">
                    All rights reserved
                </li>
            </ul>
        </div>
    </footer>
</div>
<script src="../../webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script src="../../webjars/tether/dist/js/tether.min.js"
        data-th-src="@{/webjars/tether/dist/js/tether.min.js}"></script>
<script src="../../webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js"
        data-th-src="@{/webjars/bootstrap-material-design/dist/bootstrap-material-design.iife.min.js}"></script>
<!--suppress JSUnresolvedFunction -->
<script>
    $('body').bootstrapMaterialDesign();
</script>
</body>
</html>